<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TikiParkApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!-- Google Play Services Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Preloaded Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Activities -->
        <activity
            android:name=".activities.ManageUsers"
            android:exported="false" />

        <activity
            android:name=".activities.ViewAllActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CreateParkingSpots"
            android:exported="false" />

        <activity
            android:name=".activities.Stats"
            android:exported="false" />

        <activity
            android:name=".activities.WalletManagement"
            android:exported="false" />

        <activity
            android:name=".activities.FindParking"
            android:exported="false" />

        <activity
            android:name=".activities.Entry"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AdminWelcome"
            android:exported="false" />

        <activity
            android:name=".activities.Login"
            android:exported="true" />

        <activity
            android:name=".activities.Register"
            android:exported="false" />

        <activity
            android:name=".activities.ParkCompletion"
            android:exported="false" />

        <activity
            android:name=".activities.InsufficientFunds"
            android:exported="false" />

        <activity
            android:name=".activities.AddFunds"
            android:exported="false" />

        <activity
            android:name=".activities.PaymentForm"
            android:exported="false" />

        <activity
            android:name=".activities.PaymentDone"
            android:exported="false" />

        <activity
            android:name=".activities.UserWelcome"
            android:exported="false" />

    </application>

</manifest>